
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 80vw;
  margin: auto;
  min-height: 80vh;
  gap: 30px; /* Add some gap between grid items if needed */
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.card {
  height: 400px;
  width: 90%; /* Full width for each card within the grid column */
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(202, 202, 224, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

  
  .card:hover {
    box-shadow: rgb(253 253 253 / 20%) 0px 7px 12px 8px;
    transform: scale(1.05);
  }
  
  .card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .card .top-section .bordercard {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }
  
  .card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: none;
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;

  }
  
  .card .top-section .icons {
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .card .top-section .icons .logo {
 
    height: 100%;
 
  }
  .logo img{
    
    height: 100%;
   width: 120px;
   object-fit: cover;
   
  }
  
  .card .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .card .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .card .top-section .icons .social-media .svg {
    height: 100%;
    fill: #1b233d;
  }
  
  .card .top-section .icons .social-media .svg:hover {
    fill: white;
  }
  
  .card .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .card .bottom-section .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .card .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px;
  }
  
  .card .bottom-section .row .item {
    flex: 30%;
    text-align: center;
}

.card .bottom-section .row .big-text {
    padding: 9px;
    font-size: 12px;
    display: block;
    color: rgba(170, 222, 243, 0.721);
    text-align: justify;
    font-family: sans-serif;
}

.card .bottom-section .row .regular-text {
    font-size: 9px;
  }
  
  
  .bottom-section .buttons{
    padding: 9px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    

  }
  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background: rgb(24, 53, 137);
    color: #fff;
    border-radius: 10rem;
    font-weight: 400;
    padding: 11px 22px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }